h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.sidebar-text{
  color: #f0f0f0;
}
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: #000000;
  transition: left 0.3s;
}

.sidebar.open {
  left: 0;
}

.sidebar-content {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 25px;
  color: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: #333;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}


.upload-label {
  font-size: 18px; 
  padding: 100px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
}

.profile-image {
  width: 220px;
  height: 213px;
  border-radius: 50%;
  object-fit: cover;
}

.upload-label {
  cursor: pointer;
  color: white;
  font-size: 18px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-label i {
  font-size: 24px;
}

.name {
  color: white;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

.sidebar-text {
  align-items: center;
  margin-top: 60px;
  margin-bottom: 100px;
}

.sidebar-text p:not(:last-child) {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    left: -100%;
  }

  .sidebar {
    transition: left 0.5s;
  }

  .sidebar.open {
    left: 0;
  }

  .sidebar-text a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 10px 20px;
    display: block;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }

  .sidebar-text a:hover {
    background-color: #f0f0f0;
    color: #007bff;
  }
}
