
.profile-info-container {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
  }
  
  .profile-image {
    width: 100%;
    height: 200px;
    border-radius: 50%;
    margin-right: 1rem;
  }
  
  .profile-details {
    flex-grow: 1;
  }
  
  .profile-username {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .profile-bio {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
  }
  
  .profile-stats {
    display: flex;
  }
  
  .profile-stat {
    margin-right: 1.5rem;
    font-weight: bold;
  }
  